backend/__pycache__/
backend/venv/
*__pycache__*

frontend/salesPerformance/.angular
frontend/salesPerformance/.vscode
frontend/salesPerformance/node_modules
frontend/salesPerformance/editorconfig
# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
frontend/salesPerformance/dist
frontend/salesPerformance/tmp
frontend/salesPerformance/out-tsc
frontend/salesPerformance/bazel-out

# Node
frontend/salesPerformance/node_modules
frontend/salesPerformance/npm-debug.log
frontend/salesPerformance/yarn-error.log

# IDEs and editors
frontend/salesPerformance/.idea/
frontend/salesPerformance/.project
frontend/salesPerformance/.classpath
frontend/salesPerformance/.c9/
frontend/salesPerformance/*.launch
frontend/salesPerformance/.settings/
frontend/salesPerformance/*.sublime-workspace

# Visual Studio Code
frontend/salesPerformance/.vscode/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
frontend/salesPerformance/.DS_Store
Thumbs.db
